<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="icon" href="https://icons.dfkdream.dev/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ with resources.Get "css/index.scss" | toCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"/>
    {{- end }}
</head>

<body class="adaptive">
    <article>
        <div class="print-only qr">
            <div id="qr"></div>
            <a id="qr-link" href="https://about.dfkdream.dev">about.dfkdream.dev</a>
        </div>
        {{ if .Params.process_hashtags -}}
            {{ partial "replace-hashtags" . }}
        {{- else -}}
            {{ .Content }}
        {{- end }}
    </article>

    {{ with resources.Get "js/qrcode.min.js" | fingerprint -}}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{- end }}

    <script>
        new QRCode(document.getElementById("qr"), location.href);
        document.getElementById("qr-link").href = location.href;
    </script>

    {{ if .Params.process_hashtags -}}
        {{- with resources.Get "js/filter-hashtags.js" | minify | fingerprint -}}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
        {{- end -}}
    {{- end }}
</body>
