@import 'reset.scss';
@import 'vars.scss';

body{
    max-width: 800px;
    margin: auto;
}

a{
    color: var(--link);
}

article{
    margin: 2em;
    position: relative;

    h1{
        margin: 1em 0 0.5em 0;
    }

    h2{
        margin: 0.5em 0 0.5em 0;
        font-size: 1.2em;
    }

    ul{
        padding: 0 1em;
    }

    hr{
        margin: 1em 0;
    }
}

.hashtag{
    padding: 0.1em 0.5em;
    border-radius: 1em;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    background: var(--hashtag-bg);
    color: var(--hashtag);
    print-color-adjust: exact !important;
    cursor: pointer;
}

.hashtag:hover{
    border: 1px solid var(--hashtag-hover-border) !important;
}

#filter-by-hashtag{

    input.hashtag{
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    input.hashtag:checked + label.hashtag{
        background: var(--hashtag-selected-bg);
        color: var(--hashtag-selected);
    }

    input.hashtag:focus-visible + label.hashtag{
        border: 1px solid var(--hashtag-hover-border);
    }
}

.print-only{
    display: none;
}

@media print{
    .print-only{
        display: initial;
    }

    .screen-only{
        display: none;
    }

    .qr{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;

        a{
            font-size: 0.6em;
            text-align: center;
            display: block;
        }
    }
}